<div class="w-25">
  <c-carousel [animate]="false" [interval]="0" transition="crossfade">
    <c-carousel-inner>
      <c-carousel-item *ngFor="let furniture of furnitures; index as i">
        <div class="card">
          <img
            [src]="furniture.photoUrl"
            class="card-img-top sliderImg"
            loading="lazy"
            alt="{{ furniture.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ furniture.name | titlecase }}</h5>
            <p class="card-text">Price: {{ furniture.price | currency }}</p>
            <button class="btn btn-success" (click)="addToCart(i)">
              Add to Cart
            </button>
          </div>
        </div>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control
      [routerLink]
      caption="Previous"
      direction="prev"
    ></c-carousel-control>
    <c-carousel-control
      [routerLink]
      caption="Next"
      direction="next"
    ></c-carousel-control>
  </c-carousel>
</div>
